<html>
    <title>Instagram</title>

    <body>

    <h1>Instagram</h1>

    <a href="{{ path('jp_instagram_user') }}">User</a> | <a href="{{ path('jp_instagram_tag') }}">Tag</a>
    <br /><br />

    {% block content %}
    {% endblock %}

    </body>
</html>