{% extends 'JPInstagramBundle::base.html.twig' %}

{% block content %}

JP feed

<a href="https://api.instagram.com/oauth/authorize/?client_id=aadf5df4982e4cef99a8a6ce131cb49b&redirect_uri=http://labs.local/instagram/user&response_type=code">Login</a>

{% endblock %}

