<html>
    <head>
        <title>Options Resolver</title>
        <link rel=stylesheet type="text/css" href="/bundles/jpoptionsresolver/css/style.css">
    </head>

    <body>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    {% block content %}
    {% endblock %}

    </body>
</html>