DirectoryIndex app.php
AddDefaultCharset utf-8

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -s [OR]
	RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d [OR]
	RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -l
	RewriteRule ^.+$ - [QSA,L]

	# Local
	RewriteCond %{HTTP_HOST} \.local$
	RewriteRule ^.*$ app_dev.php [QSA,L]

	# Prod
	RewriteRule ^.*$ app.php [QSA,L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        RedirectMatch 302 ^/$ /app.php/
    </IfModule>
</IfModule>
