{% extends 'JPLibratoBundle:Site:layout.html.twig' %}

{% block content %}

Votre panier contient 1 article.<br /><br />

T-shirt homme XL - 20&euro;<br /><br />

Cliquez pour passer <a href="{{ path('jp_librato_order') }}">commande</a>.

{% endblock %}