{% extends 'JPLibratoBundle:Site:layout.html.twig' %}

{% block content %}

Bienvenue !<br /><br />
Visualisez votre <a href="{{ path('jp_librato_cart') }}">panier</a> ou passez une <a href="{{ path('jp_librato_order') }}">commande</a>.

{% endblock %}